body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: .8;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  /* background-color: transparent; */
  background-image: linear-gradient(rgb(144, 247, 236), rgb(40, 156, 145));
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;

}

.hour {
  background-color: #ffffff;
  color: #000000;
  border: .25 rem solid #000000;
  width: 100px;
}

.past {
  background-color: #d3d3d3;
  color: black;
  font-size: .75rem;
}

.present {
  background-color: #98c9c2;
  color: white;
}

.future {
  background-color: #77dd90;
  color: white;
}

.saveBtn {
  /* border-left: 1px solid black; */
  border: .25 rem solid #000000;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/* .input-group-prepend {
  width: 100px;
} */

.mb-3,
.my-3 {
  margin-bottom: 1% !important;
}